.scrollbar{
    position:relative;
    height:100%;
    overflow:hidden;
}
.scrollbar .scrollbar__wrap{
   overflow: scroll;
    height:100%;
    margin-bottom: -17px;
    margin-right: -17px;
}
.scrollbar .scrollbar__bar{
    position:absolute;
    right: 2px;
    bottom: 2px;
    z-index: 1;
    border-radius: 4px;
}
.scrollbar .scrollbar__bar.is-vertical{
    top:2px;
    width:6px;
}
.scrollbar .scrollbar__bar.is-horizontal{
    left:2px;
    height:6px;
}
.scrollbar .scrollbar__bar.is-horizontal>div{
    height:100%;
}
.scrollbar .scrollbar__bar.is-vertical>div{
    width:100%;
}
.scrollbar .scrollbar__bar .scrollbar__thumb{
    position: relative;
    display: block;
    width: 0;
    height: 0;
    cursor: pointer;
    border-radius: inherit;
    background-color: rgba(144,147,153,.3);
    transition:opacity 120ms ease-out;
}




/* 滚动条整体部分 */
.scrollbar::-webkit-scrollbar{
    width:6px;
    height:12px;
    background-color:#d2f1f0;
}

/* 滚动条里面的小方块，能向上向下移动（或往左往右移动，取决于是垂直滚动条还是水平滚动条） */
.scrollbar::-webkit-scrollbar-track{
    background-color: #FFFFFF;
    border-radius:6px;
}

/* 滚动条的轨道（里面装有Thumb） */
.scrollbar::-webkit-scrollbar-thumb{
    opacity: 0;
    background-color:#e7ebed;
    border-radius:6px;
}


.scrollbar::-webkit-scrollbar-thumb:hover{
    opacity:1;
}

/* 边角，即两个滚动条的交汇处 */
.scrollbar::-webkit-scrollbar-corner{
    opacity:0;
}
