.fade-height-init{
    height:0;
    overflow: hidden;
    transition:500ms;
}

.fade-height-entered{
    height:auto;
}

.fade-height-exited{
    height:0;
}

.fade-rotate90-init{
    transform: rotate(0deg);
    transition:500ms;
}

.fade-rotate90-entered{
    transform: rotate(-90deg);
}

.fade-rotate90-exited{
    transform: rotate(0deg);
}

